<div class="background-image news-tile ">
	<div class="news">
		<div class="news-body">
			<div class="news-content">
				<div class="flex-row">
					<div class="flex-column">
						<div class="flex-item">
							<h1 class="header-blue">News</h1>
							<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post.</h4> {{>pagination}}
						</div>
					</div>
				</div>
				<div class="news-card-deck">
					{{# each data.posts.results}}
						<div data-ks-editable="{{#if ../user}}{{adminEditableUrl ../../user _id}}{{/if}}" class="card news-post">
							<div class="news-flex-row">
								<div class="news-flex-info">
									<div class="card-block">
										<h3 class="header-blue card-title"><span class="header-blue">{{{title}}}</span></h3>
										<div><span class="bold-text">{{date publishedDate }}</span></div>
										<p class="">{{{categoryList categories prefix="Posted in "}}}
											{{#if author.name.first}}by {{author.name.first}}{{/if}}
										</p>
										<p class="">{{{content.brief}}}</p>
									</div>
									<div class="card-button">
										{{#if content.extended}}<span class="button"><a class="orange-button" href="{{postUrl slug}}">Read more.</a></span>{{/if}}
									</div>
								</div>
								<div class="news-flex-picture">
									{{#if image}}
										<div class="news-picture background-image" style="background-image: url({{{cloudinaryUrl image width='350' height='350'}}})"></div>
									{{/if}}
								</div>
							</div>
						</div>
						{{/each}}
				</div>
			</div>
			<div class="news-nav">
				<div class="flex-row">
					<div class="flex-column">
						<div class="categories flex-item">
							<h2 class="header-blue center-text">Categories</h2>
							<div class="list-group">
								<a href="/news" class="active list-group-item">All Categories</a>
								{{# each data.categories }}
									<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
									{{/each}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
