<h3>{{{title}}}</h3>
<div class="row">
  <div class="col-md-4">Position: <br/> {{{position}}} - {{{type}}}</div>
  <div class="col-md-4">Location: <br/>{{{location}}}</div>
  <div class="col-md-4">Posted: <br/> {{{publishDate}}}</div>
</div>
<p>{{{content.short}}}</p>
<a href="#">Read More...</a>
<div>Categories</div>
<div class="row">
  <ul>
    <li>Category 1</li>
    <li>Category 2</li>
    <li>Category 3</li>
  </ul>
</div>
