<div class=" card staff-card flex-column">
  <div class="card-image flex-item ">
    <div class="inline-image {{{backgroundColor}}}">
      <img  src={{{cloudinaryUrl image width=225 height=225 crop='fit' }}} alt="John" >
    </div>
  </div>
  <h4 class="flex-item">&#60;{{name.first}}_{{name.last}}&#62;</h4>
  <span class="staff-title flex-item">_{{title}}_</span>
  <span class="staff-title flex-item">{{contact.email}}</span>
  <span class="flex-item">
    {{#if contact.linkedIn}}
      <a href="{{contact.linkedIn}}"><i class="fab fa-linkedin staff-icon"></i></a>
    {{/if}}
    {{#if contact.twitter}}
      <a href="{{contact.twitter}}"><i class="fab fa-github staff-icon"></i></a>
    {{/if}}
    {{#if contact.github}}
      <a href="{{contact.github}}"><i class="fab fa-twitter-square staff-icon"></i></a>
    {{/if}}
    {{#if contact.medium}}
      <a href="{{contact.medium}}"><i class="fab fa-medium staff-icon"></i></a>
    {{/if}}
  </span>
</div>
